[data-md-color-scheme="logos-light"] {
    --md-primary-fg-color:        #7F9FBA;
    --md-default-bg-color:        #FFFFFF;
}

[data-md-color-scheme="logos-dark"] {
    --md-primary-fg-color:        #7F9FBA;
    --md-default-bg-color:        #394853;
}